<div class="bg-black">
  <div class="pos">

    <div class="oval center">
      <img class="logo" src="../../assets/logo.png" alt="">
    </div><br>
  
    <div class="appName center">TASK SCHEDULER</div>
    <div>
      <p class="text center"> The best software teams ship early and often</p><br>
    </div><br>
  
    <div class="center">
      <img class="Illustration-1" src="../../../assets/illustration-1.png">
    </div>
  
    <div class="center">
      <ul>
        <li class="car-item1"></li>
        <li class="car-item"></li>
        <li class="car-item"></li>
      </ul>
    </div><br>
  
    <div class="center button-pos">
    
        <button class="button" (click)="goToBoard($event)">
          <p class="user-name">Get Started</p>
        </button>
      
    </div>
  
  </div>
</div>

